/*
 * CSS RESET
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
 * GENERAL
 */

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    position: relative;
    position: fixed;
}

header {
     height: 28vh;
}

main {
    height: 80vh
}

footer {
    height: 5vh;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Roboto', sans-serif;
}

div, span {
    font-family: 'Lato', sans-serif;
}

/*
 * HEADER
 */

/* Topbar */
.topbar {
    text-align: center;
    display: block;
    padding: 10px;
}

.topbar .brand {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.topbar .brandname {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #125dff;
    margin-bottom: 7px;
    letter-spacing: 3px;
}

.topbar .tagline {
        font-style: italic;
    }

.topbar .login-area {
    margin-right: 10px;
    padding: 5px;
}

.topbar .login-area a {
    font-size: 1em;
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.topbar .login-area a .fa {
    color: #125dff;
    font-size: 1.1em;
}


 /* Navigation */
 #mainNav {
    background-color: #5271ff;
 }

 #navMenu li {
     margin: 0 10px;
     padding: 5px;
 }

#navMenu li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: 1px;
}


/*
 * MAIN
 */

.jumbotron {
    width: auto;
    background-image: url("../img/jumbo-photo-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 65vh;
    border-radius: 0px;
    position: relative;
}

.jumbotron .wrapper {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    height: 75%;
    width: 80%;
    top: 5;
    right: 10%;
    left: 10%;
    bottom: 5;
}


/*
 * FOOTER
 */

footer p {
    margin-top: -16px;
    vertical-align: middle;
}





/*
 * MEDIA QUERIES
*/

@media (min-width: 768px) {

    body {
        height: 100vh;
        position: relative;
        position: fixed;
    }

    /* HEADER */
    header {
        height: 15vh;
    }

    .topbar {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 10px 10px;
    }

    .topbar .brand {
        margin-left: 10px;
        display: inline;
        padding: 0px;
        margin-bottom: 5px;
    }

    .topbar .brandname {
        font-size: 1.5em;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        color: #125dff;
        letter-spacing: 1px;
    }

    .topbar .tagline {
        font-style: italic;
    }

    .topbar .login-area {
        margin-right: 10px;
        
    }

    .topbar .login-area a {
        font-size: 1em;
        text-decoration: none;
        margin-right: 20px;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
    }

    .topbar .login-area a .fa {
        color: #125dff;
        font-size: 1.1em;
    }

    #navMenu li {
        margin: 0 10px;
        padding: 0px;
        font-size: 14px;
    }

    /* MAIN */
    .jumbotron {
        width: auto;
        background-image: url("../img/jumbo-photo-1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 79vh;
        border-radius: 0px;
    }

    /* FOOTER */
    footer {
        height: 5vh;
    }

    footer p {
        padding: 0;
        margin-top: -15px;
        color: black;
    }



   
}
