/***********
CSS RESET by Eric Meyer
***********/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/***********
GENERAL
***********/

/** Mobile First Layout**/

header {
  height: 20vh;
}

main {
  height: 73vh;
  background-color: grey;
}

footer {
  height: 7vh;
  background-color: skyblue;
}

/** Image backdrop **/
.backdrop {
  background-image: url("../img/backdrop.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
}



/***********
HEADER
***********/

/** Topbar **/

.top-bar {
  box-sizing: border-box;
  background-color: #fff;
  text-align: center;
  padding: .8em 0;
}

.top-bar .brand-assets {
  font-family: 'Gloria Hallelujah', cursive;
  position: relative;
}

.top-bar .brand-assets .brand-name,
.top-bar .brand-assets .tagline {
  display: block;
}

.top-bar .brand-assets .brand-name {
  font-size: 1.6em;
  font-weight: bolder;
  font-family: 'Handlee', cursive;
  letter-spacing: .3em;
  color: #2196F3;
  padding: 5px;
  text-shadow: 2px 1px 0px #fff, 5px 3px 1px rgba(0, 0, 0, 0.15);
}

.top-bar .brand-assets .tagline {
  font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: 1px;
}

.top-bar .login-area {
  padding: .2em;
  font-size: 1.2em;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

.top-bar .login-area .signin,
.top-bar .login-area .signup {
  display: inline;
}

.top-bar .login-area .signin {
  margin-right: 10px;
}

.top-bar .login-area .signup {
  margin-left: 10px;
}

.top-bar .login-area .signin a,
.top-bar .login-area .signup a {
  text-transform: lowercase;
  color: darkgrey;
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: .9px;
}

.top-bar .login-area .signin a:hover,
.top-bar .login-area .signup a:hover {
  border-bottom: 2px solid #1976D2;
}


/** Navbar **/

#mainNav {
  background-color: #1976D2;
  color: #ffffff;
  padding: 5px;
  margin-top: 0;
}

#mainNav .navbar-toggler {
  outline: none;
  border: none;
}

#mainNav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

#mainNav li {
  margin: 0 10px;
  padding: 3px;
}

#mainNavToggle li a {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .2em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #fff;
}


/***********
MAIN
***********/


/***********
MODALS
***********/


/***********
MEDIA QUERIES
***********/

@media (min-width: 768px) {

  body {
    position: relative;
  }

  header {
    height: 15vh;
  }

  main {
    height: 78vh;
    background-color: grey;
  }

  footer {
    height: 7vh;
    background-color: skyblue;
  }

  
  /** Header **/
  /***********/

  /* Topbar */
  .top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
  }

  .top-bar .brand-assets {
    margin: 0px;
    padding-top: 5px;
    text-align: left;
  }

  .top-bar .login-area {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .top-bar .login-area .signin,
  .top-bar .login-area .signup {
    margin: 0;
    text-align: right;
    padding: 5px 0 5px 0
  }

  .top-bar .login-area .signup {
    margin-right: -1px;
  }


  /** MAIN **/


}
  
@media (min-width: 768px) {
}